.main-header {
    position: fixed;
    z-index: 9999;
    width: 100vw;
    padding-top: 4rem;
    transition: .3s ease;
    &.hero-padding {
        @media (min-width: 768px) {
            margin-top: 2.6rem;
            padding-left: 2.6rem;
            padding-right: 2.6rem;
        }
    }
    &.scrolling {
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 1.2rem;
        overflow: hidden;
        @media (min-width: 1024px) {
            padding-top: 2rem;
            padding-bottom: 2.2rem;
        }
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 200%;
            height: 200%;
            background-color: #ffffffE6;
            z-index: -9;
            // filter: blur(2.4rem);
        }
        .logo {
            img {
                opacity: 0;
            }
            position: relative;
            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-image: url('https://dev1.riomarca.com/clientes/gavea/images/logo-gavea-blue.png');
                background-repeat: no-repeat;
                background-size: auto 100%;
                //this left follow the padding-left for col's of bootstrap
                background-position: calc(var(--bs-gutter-x) * .5) top;
            }
        }
    }
    &.negative {
        .logo {
            position: relative;
            img {
                opacity: 0;
            }
            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-image: url('https://dev1.riomarca.com/clientes/gavea/images/logo-gavea-blue.png');
                background-repeat: no-repeat;
                background-size: auto 100%;
                //this left follow the padding-left for col's of bootstrap
                background-position: calc(var(--bs-gutter-x) * .5) top;
            }
        }
    }
    * {
        align-items: center;
    }
    .navbar-collapse {
        position: fixed;
        top: -2.6rem;
        left: 0;
        transform: translateX(100rem);
        height: 100vh;
        width: 100vw;
        background-color: #000000B3;
        text-align: center;
        padding-top: 12rem;
        transition: transform .3s ease;
        &.show {
            transform: translateX(0rem);
        }
        @media (min-width: 1200px) {
            transform: none;
            position: initial;
            height: initial;
            width: initial;
            background-color: initial;
            text-align: initial;
            padding-top: 0;
            justify-content: center;
        }
    }
    &.negative {
        .navbar-toggler[aria-expanded='false'] {
            .navbar-toggler-icon {
                >div {
                    background-color: $color-black;
                    &::before,
                    &::after {
                        background-color: $color-black;
                    }
                }
            }
        }
        &.scrolling {
            .navbar-toggler[aria-expanded='false'] {
                .navbar-toggler-icon {
                    >div {
                        background-color: $color-white;
                        &::before,
                        &::after {
                            background-color: $color-white;
                        }
                    }
                }
            }
        }
    }
    .navbar-toggler {
        z-index: 99;
        padding: 0;
        margin-left: auto;
        outline: none;
        position: relative;
        .navbar-toggler-icon {
            width: 2.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            >div {
                width: 1.6rem;
                height: .3rem;
                background-color: $color-white;
                position: absolute;
                right: 0;
                transition: transform .5s ease, background-color 1s ease;
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    transform: translateY(-.9rem);
                    width: 2.4rem;
                    height: .3rem;
                    background-color: $color-white;
                    transition: transform .5s ease, background-color 1s ease;
                }
                &::after {
                    transform: translateY(.9rem);
                }
            }
        }
        &[aria-expanded='true'] {
            .navbar-toggler-icon {
                >div {
                    width: 2.4rem;
                    transform: translateY(0) rotate(45deg);
                    &::before,
                    &::after {
                        transform: translateY(0) rotate(90deg);
                        top: 0;
                        bottom: none;
                        width: 2.4rem;
                    }
                }
            }
        }
    }
    &.negative .navbar-nav,
    &.scrolling .navbar-nav {
        li {
            .nav-link {
                @media (min-width: 1200px) {
                    color: $color-gray2;
                    &:hover {
                        color: $color-orange;
                    }
                    &.active {
                        color: $color-gray2;
                    }
                    &.active::after {
                        background-color: $color-orange;
                    }
                }
            }
            &.select-lang {
                .dropdown-toggle {
                    &::after {
                        color: $color-gray2;
                    }
                }
            }
        }
    }
    .navbar-nav {
        display: flex;
        gap: .4rem;
        @media (min-width: 400px) {
            gap: 2rem;
        }
        @media (min-width: 768px) {
            gap: 2.5rem;
        }
        @media (min-width: 1200px) {
            flex-direction: row;
            gap: 0;
        }
        li {
            order: 1;
            z-index: 99;
            .nav-link {
                color: $color-white;
                font-family: "Inter", "Open Sans", "Sans-serif";
                font-size: 3.5rem;
                font-weight: 600;
                padding: 0 1rem;
                transition: color .3s ease;
                &.active,
                &:hover {
                    color: $color-orange;
                }
            }
            @media (min-width: 1200px) {
                padding: 0 .5rem;
                order: 0;
                .nav-link {
                    font-family: "Karla", "Open Sans", "Sans-serif";
                    font-size: 1.6rem;
                    font-weight: 700;
                    position: relative;
                    padding-bottom: .5rem;
                    &.active::after {
                        opacity: 0;
                        transition: opacity .3s ease;
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 1rem;
                        height: .5rem;
                        background-color: $color-yellow;
                        border-radius: 1rem;
                    }
                    &:hover {
                        color: $color-yellow;
                    }
                    &.active {
                        color: $color-white;
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
            @media (min-width: 1880px) {
                & {
                    padding: 0 1rem;
                }
                .nav-link {
                    font-size: 2rem;
                }
            }
            &.select-lang {
                background-color: transparent;
                color: $color-white;
                order: 0;
                position: fixed;
                top: 0;
                z-index: 9;
                &::after {
                    display: none;
                }
                @media (min-width: 1200px) {
                    & {
                        position: initial;
                    }
                }
                .dropdown-toggle {
                    min-height: 30px;
                    display: none;
                    &::after {
                        color: $color-white;
                        font-size: 2rem;
                    }
                    @media (min-width: 1200px) {
                        display: flex;
                    }
                    >img:not(.active) {
                        display: none;
                    }
                }
                .dropdown-menu {
                    background-color: transparent;
                    border: 0;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    gap: 2rem;
                    width: 100vw;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 100vh;
                    padding-bottom: 4rem;
                    @media (min-width: 400px) {
                        padding-bottom: 7rem;
                    }
                    @media (min-width: 768px) {
                        padding-bottom: 4rem;
                        padding-right: 3rem;
                        justify-content: flex-end;
                        position: initial;
                        transform: none;
                    }
                    @media (min-width: 1200px) {
                        width: initial;
                        height: initial;
                        padding: 0;
                        position: absolute;
                        left: initial;
                        display: none;
                        &.show {
                            display: block;
                        }
                    }
                    .dropdown-item {
                        display: none;
                        padding-left: 0;
                        text-transform: uppercase;
                        background-color: transparent;
                        &:not(.active) {
                            display: block;
                        }
                        &:hover {
                            background-color: transparent;
                        }
                        figure {
                            display: flex;
                            gap: .8rem;
                            @media (min-width: 1200px) {
                                gap: 0;
                            }
                        }
                        figcaption {
                            color: $color-orange;
                            font-family: "Inter", "Open Sans", "Sans-serif";
                            font-size: 2.2rem;
                            &:hover {
                                color: $color-orange !important;
                            }
                            @media (min-width: 1200px) {
                                display: none;
                            }
                        }
                        &.pt-br:lang(pt-br) {
                            figcaption {
                                color: $color-white;
                            }
                        }
                        &.en:lang(en) {
                            figcaption {
                                color: $color-white;
                            }
                        }
                    }
                }
            }
        }
    }
    .btn-login {
        background-color: #ffffff4D;
        border: 0;
        border-radius: .8rem;
        width: 92px;
        height: 40px;
        font-size: 1.8rem;
        color: white;
        line-height: 1.8em;
        &:hover {
            background-color: $color-orange;
        }
    }
    &.negative .btn-login,
    &.scrolling .btn-login {
        background-color: $color-orange;
        &:hover {
            background-color: darken($color-orange, 10%)
        }
    }
}