section.home-broker {
    overflow: hidden;
    padding-top: 3rem;
    padding-bottom: 3rem;

    @media (min-width: 768px) {
        padding-top: 8.4rem;
        padding-bottom: 8.4rem;
    }
    
    @media (min-width: 1280px) {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

    @media (min-width: 1850px) {
        padding-top: 16rem;
        padding-bottom: 16rem;
    }

    .broker-img {

        position: relative;
        padding-top: 4rem;
        
        @media (min-width: 768px) {
            display: flex;
            justify-content: center;
            padding-left: 8rem;
        }

        #scene_broker {
            position: absolute !important;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            
            img {
                width: 17.2rem;
                position: absolute !important;
                left: -1rem !important;
                top: 2rem !important;
                
                @media (min-width: 768px) {
                    left: 5rem !important;
                    top: 2rem !important;
                }
                
                @media (min-width: 1280px) {
                    width: 30rem;
                    left: 1rem !important;
                    top: 1rem !important;
                }

                @media (min-width: 1366px) {
                    left: 12rem !important;
                    top: 1rem !important;
                }

                @media (min-width: 1536px) {
                    width: 35rem;
                    left: 15rem !important;
                    top: 1rem !important;
                }

                @media (min-width: 1536px) {
                    left: 8rem !important;
                    top: 1rem !important;
                }
            }
        }
        
        .hb-desktop {
            width: 45rem;
            transform: translateX(-1.8rem);
            margin-bottom: 4rem;

            @media (min-width: 400px) {
                width: 55rem;
                transform: translateX(1.5rem);
                margin-bottom: 4rem;
            }
            
            @media (min-width: 768px) {
                width: 60rem;
                transform: translateX(14rem);
            }
            
            @media (min-width: 1024px) {
                width: 79rem;
                transform: translateX(17rem);
            }
            
            @media (min-width: 1280px) {
                width: 96rem;
                transform: translateX(20rem);
            }
            
            @media (min-width: 1366px) {
                width: 98rem;
                transform: translateX(27rem);
            }

            @media (min-width: 1536px) {
                transform: translateX(27rem);
            }

            @media (min-width: 1850px) {
                width: 100rem;
            }
        }

        .buys {
            position: absolute;
            bottom: 3rem;
            display: flex;
            flex-direction: column;
            width: 45rem;
            transform: translateX(3rem);
            
            @media (min-width: 400px){
                bottom: 6rem;
            }
            
            @media (min-width: 768px){
                bottom: 5rem;
                transform: translateX(5.5rem);
            }
            
            @media (min-width: 1024px){
                bottom: 5rem;
                transform: translateX(-3rem);
            }

            @media (min-width: 1280px){
                bottom: 10rem;
                transform: translateX(-13rem);
            }

            @media (min-width: 1366px){
                bottom: 7rem;
                transform: translateX(-2rem);
            }

            @media (min-width: 1850px){
                transform: translateX(-6rem);
            }

            img {
                width: 20rem;
                
                @media (min-width: 400px){
                    width: 24rem;
                }

                @media (min-width: 1024px){
                    width: 35rem;
                }

                @media (min-width: 1280px){
                    width: 40rem;
                }
            }

            .compra-23 {
                margin: -2rem 0;
                margin-left: 5rem;
                
                @media (min-width: 768px){
                    margin-left: 10rem;
                }
                
                @media (min-width: 1024px){
                    margin: -3rem 0;
                    margin-left: 10rem;
                }

                @media (min-width: 1280px){
                    margin-left: 18rem;
                }
            }
            
            .compra-24 {
                margin-left: -5rem;
                
                @media (min-width: 1366px){
                    margin-left: -10rem;
                }

                @media (min-width: 1850px){
                    margin-left: -12rem;
                }
            }
        }
    }
}