section.profile {

    padding-top: 15rem;
    
    @media (min-width: 1024px) {
        padding-top: 18rem;
    }
    @media (min-width: 1280px) {
        padding-top: 20rem;
    }
    @media (min-width: 1850px) {
        padding-top: 27rem;
    }
    
    #scene-page {

        position: absolute !important;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -9;

        .waves-left {
            position: absolute !important;
            left: initial !important;
            right: -2rem !important;
            top: -2rem !important;
        }
    }

    section.home-broker {

        padding: 0;
        padding-bottom: 10rem;
        @media (min-width: 1850px) {
            padding-bottom: 18rem;
        }
        
        h3 {
            color: #092A34;
            font-size: 5rem;
            font-weight: 600;
            margin-bottom: 4rem;
            line-height: 5.5rem;
            letter-spacing: -0.03em;
            
            @media (min-width: 1024px) {
                font-size: 5.5rem;
            }
            @media (min-width: 1280px) {
                font-size: 6rem;
            }
            @media (min-width: 1366px) {
                font-size: 7rem;
            }
            @media (min-width: 1536px) {
                font-size: 8.5rem;
                line-height: .9em;
            }
    
            span {
                color: $color-orange;
            }
    
        }

        p {
            text-align: left;
            font-size: 1.8rem;

            @media (min-width: 1366px) {
                font-size: 2rem;
            }
            @media (min-width: 1536px) {
                font-size: 2.2rem;
            }
        }

        .btns {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            
            @media (min-width: 414px) {
                justify-content: flex-start;
                gap: 2rem;
            }

            .btn {
                margin-right: 0;
            }

            .btn-contact-us {
                background-color: transparent;
                color: $color-gray1;
                display: flex;
                width: fit-content;
                align-items:center;
                position: relative;
                transition: border-color .3s ease;

                &:hover {
                    color: $color-orange;

                    &::after {
                        border-left: 0.6rem solid $color-orange;
                    }
                }
                
                &::after {
                    content: '';
                    margin-left: 1rem;
                    border-bottom: 0.6rem solid transparent;
                    border-top: 0.6rem solid transparent;
                    border-left: 0.6rem solid $color-gray1;
                    transition: border-color .3s ease;
                }
            }
        }

        .hb-desktop {
            transform: translateX(0rem);
            @media (min-width: 1024px) {
                transform: translateX(-5rem);
            }
        }

        .buys {
            
            transform: translateX(-5.5rem);
            bottom: 3rem;
            
            @media (min-width: 1024px) {
                transform: translateX(-13rem);
            }
            @media (min-width: 1280px) {
                transform: translateX(-15.7rem);
            }
            @media (min-width: 1366px) {
                transform: translateX(-15.5rem);
            }
            @media (min-width: 1850px) {
                transform: translateX(-17.4rem);
            }

            img {
                width: 10.2rem;

                @media (min-width: 1024px) {
                    width: 14rem;
                }
                @media (min-width: 1280px) {
                    width: 18rem;
                }
                @media (min-width: 1850px) {
                    width: 20rem;
                }
            }
        }

        #scene_broker {
            img {

                top: 13rem !important;
                left: 19rem !important;
                
                @media (min-width: 1024px) {
                    left: 0rem !important;
                }

                @media (min-width: 1366px) {
                    left: -5rem !important;
                }
            }
        }
    }

    section.functionalities {
        
        h6 {
            text-align: center;
    
            @media (min-width: 1280px) {
                font-size: 2.2rem;
            }
    
            @media (min-width: 1366px) {
                font-size: 2.5rem;
            }
            
            @media (min-width: 1366px) {
                font-size: 2.5rem;
            }
        }

        .btn-group {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            max-width: 32rem;
            margin: 0 auto;
            margin-top: 3rem;
            
            @media (min-width: 768px){
                max-width: initial;
                justify-content: center;
            }

            .btn {
                font-family: 'Inter';
                font-size: 1.6rem;
                font-weight: 600;
                color: #748C94;
                padding: .7rem 2rem;
                border-radius: 5rem;
                border: .1rem solid #D2E3EF;
                display: flex;
                max-width: fit-content;
                align-items:center;
                transition: background-color .3s ease;

                &:hover {
                    color: #3477A7;
                    border-color: #3477A7;
                    background-color: #EDF4F9;
                }
            }
        }

        .owl-functionalities_carousel {
        
            margin-top: 6rem;
            margin-bottom: 10rem;
            
            @media (min-width: 1280px) {
                margin-bottom: 13rem;
            }
            @media (min-width: 1850px) {
                margin-bottom: 14.5rem;
            }
    
            .owl-dots {
                margin-top: 8rem !important;
    
                .owl-dot {
    
                    span {
                        width: 1rem;
                        height: .5rem;
                        background-color: #D2E3EF;
                        transition: .3s ease;
                    }
                    &.active {
                        span {
                            width: 1.5rem;
                            background-color: $color-orange;
                        }
                    }
                }
            }
        }
    }

    section.others-profiles {
        
        margin-bottom: 11rem;

        h6 {
            text-align: center;
            margin-bottom: 3rem;
    
            @media (min-width: 1280px) {
                font-size: 2.2rem;
            }
    
            @media (min-width: 1366px) {
                font-size: 2.5rem;
            }
            
            @media (min-width: 1366px) {
                font-size: 2.5rem;
            }
        }

        .btn-group {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            max-width: 32rem;
            margin: 0 auto;
            
            @media (min-width: 768px){
                max-width: initial;
                justify-content: center;
            }

            .btn {
                font-family: 'Inter';
                font-size: 1.5rem;
                font-weight: 600;
                padding: 1.5rem 2rem;
                border-radius: .4rem;
                border: .1rem solid #D2E3EF;
                display: flex;
                max-width: fit-content;
                align-items:center;
                transition: background-color .3s ease;

                &:hover {
                    background-color: #D2E3EF;
                }

                &::after {
                    content: '';
                    margin-left: 1.8rem;
                    border-bottom: 0.6rem solid transparent;
                    border-top: 0.6rem solid transparent;
                    border-left: 0.6rem solid $color-orange;
                }
            }
        }
    }
}